/* ------//-------------//------- 
      Cade made thses changes 
   ------//-------------//------- */

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

header {
	background: #BBB;
	height: 25em;
}

nav {
	background: #EFEFEF;
	height: 5em;
	position: relative;
}

nav ul {
	position: absolute;
	left: 50%;
	margin-left: -25em;
}

nav li {
	list-style-type: none;
	float: left;
	font-size: 2em;
	padding: .5em 5em;
}

.circle {
	height: 6em;
	width: 6em;
	border-radius: 3em;
	background: #CDCDCD;
	position: absolute;
	left: 50%;
	margin-left: -3em;
	top: -3em;
}

/* ------//-------------//------- 
  Cade stopped making changes here
   ------//-------------//------- */