/*

▁ ▂ ▄ ▅ ▆ ▇ █ Site Colors █ ▇ ▆ ▅ ▄ ▂ ▁
----------------------------

    gray: #5C4B51;              rgb(92,75,81);
    blue-ish green: #8CBEB2;    rgb(140,190,178);
    tan: #F2EBBF;               rgb(242,235,191);
    orange: #F3B562;            rgb(243,181,98);
    red: #F06060;               rgb(240,96,96);

*/


/* temp style █ ▇ ▆ ▅ ▄ ▂ ▁ */
p {
	margin-bottom: 15px;
}

/* end temp */


.spacer {
	margin-top: 3em;
}

.nav-active {
	border-bottom: 4px solid #5C4B51;

}

a {
	text-decoration: inherit;
	color:#000;   
   -webkit-transition:color .3s ease-in;  
}

a:hover {
	color: #8CBEB2;
	-webkit-transition:color .3s ease-in; 
}



body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

header {
	background: #BBB;
	height: 40em;
    z-index: -3;
    overflow: hidden;
}

nav {
	background: #EFEFEF;
	height: 9em;
	position: relative;
    border-bottom: solid 1em #F3B562;
}

nav ul {
	position: absolute;
	left: 50%;
	margin-left: -38em;
}

nav li {
	list-style-type: none;
	float: left;
	font-size: 3em;
	padding: .5em 5em;
}

.circle {
    position: relative;
	height: 9em;
	width: 9em;
	border-radius: 50%;
	background: #CDCDCD;
	position: absolute;
	left: 50%;
	margin-left: -4.5em;
	top: -4.5em;
	z-index: 99;
}

.content-wrapper {
	padding: 4em;
	font-size: 1.8em;
}

@media (max-width: 30em) {
  
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .circle {
  	background: red;
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {

}

/* ------//-------------//------- 
  Cade stopped making changes here
   ------//-------------//------- */

/* Sean's contribution */

.DW {
  width: 700px;
  margin: 0 auto;
}

.D {
  display: inline-block;
  position: relative;
  height: 300px;
  width: 250px;
  border-radius: 0 100% 100% 0;
  z-index: 1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F06060), to(#F3B562));
  background: -webkit-linear-gradient(top, #F3B562, #F06060);
  background: -moz-linear-gradient(top, #F3B562, #F06060);
  background: -ms-linear-gradient(top, #F3B562, #F06060);
  background: -o-linear-gradient(top, #F3B562, #F06060);
}

.D:after {
  content: '';
  z-index: 1;
  background-color: #BBB;
  height: 165px;
  width: 110px;
  display: block;
  border-radius: 0 100%  100% 0;
  top: 68px;
  left: 68px;
  position: absolute;
}

.W1 {
  display: inline-block;
  position: relative;
	width: 70px;
	height: 300px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background-color: #5C4B51;
  margin-left: 60px;
}

.W2 {
  display: inline-block;
  position: relative;
	width: 70px;
	height: 150px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #5C4B51;
  margin-left: 10px
}

.W3 {
  display: inline-block;
  position: relative;
	width: 70px;
	height: 150px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: #8CBEB2;
  margin-left: -18px
}

.W4 {
  display: inline-block;
  position: relative;
	width: 70px;
	height: 300px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background: #F06060;
  margin-left: 10px;
}


/*
================================
Contact.html styles
================================ */
/*
▁ ▂ ▄ ▅ ▆ ▇ █ Site Colors █ ▇ ▆ ▅ ▄ ▂ ▁

    gray: #5C4B51;
    blue-ish green: #8CBEB2;  #749E94 darker color for box shadow
    tan: #F2EBBF;
    orange: #F3B562;
    red: #F06060;

*/
body {
	height: 1000px !important;
}

#form-wrapper{
	padding: 0;
	margin: 0;
}

#form-box {
	background: #F2EBBF;
	border-radius: 10px;
	height: 60em;
	width: 60em;
	box-shadow: 0px 0px 10px #749E94;
	margin: 5em auto;
	padding: 3em;
    text-shadow: 1px 1px 1px rgba(252, 245, 201, 1);
}

#form-box h2 {
	font-size: 3em;
	color: #F06060;
	margin-bottom: 1em;
}

input, textarea {
	height: 30px;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid #8CBEB2;
	width: 100%;
	padding: 10px;
	color: #5C4B51;
	font-size: 1.8em;
	margin-bottom: 1.5em;
}

label {
	color: #F06060;
	font-size: 2em;
}

label:hover {
	cursor: hand;
}

.textarea {
	height: 7em;
	padding-bottom: 6em;
}

.btn {
	height: 2em;
	width: 100%;
	border-radius: 5px;
	background: #F3B562;
	border: none;
	box-shadow: none;
	font-size: 2em;
	color: #fff;
	font-weight: bold;
	-webkit-transition:color, background .2s ease-in;
}

.btn:hover {
	background: #5C4B51;
	color: #fff;
	-webkit-transition:color, background .2s ease-in;
}

textarea, input, button { outline: none; }

.circle-contact {
  position: relative;
	height: 9em;
	width: 9em;
	border-radius: 50%;
	background: #F06060;
	position: absolute;
	left: 50%;
	margin-left: -4.5em;
	top: -4.5em;
	z-index: 99;
	-webkit-transition:background .2s ease-in;
}

.circle-contact:hover {
	background: #8CBEB2;
	-webkit-transition:background .2s ease-in;
}






